<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Easy.MessageHub" version="3.4.0" targetFramework="net472" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net472" />
  <package id="FastMember.Signed" version="1.4.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.2.0" targetFramework="net461" />
  <package id="IB.CSharpApi" version="9.73.7" targetFramework="net472" />
  <package id="IB.CSharpApiClient" version="1.0.2" targetFramework="net472" />
  <package id="Mono.Data.Sqlite" version="1.0.61" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="3.2.0" targetFramework="net472" />
  <package id="XDMessaging.Lite" version="5.0.6" targetFramework="net472" />
</packages>